 /* Header */
#header {
  background: url("http://i.imgur.com/ESyNoL9.gif?2") no-repeat;
  background-color: rgba(0, 0, 0, .4);
    
}
.header .logo {
                display:none;
}
/*main background layout */
body {
    background: url("http://i.imgur.com/tRGod94.jpg?2")!important;
}
 .mainmenuwrapper{
         background: url("http://i.imgur.com/WBaeQrj.gif?1") bottom right no-repeat;
}
 
/* Tabbar rooms */
.tabbar a.button.cur, .tabbar a.button.cur:hover {
    color: #fff;
    background: url("http://i.imgur.com/mb7edrt.png?1");
   
}
   
 
.tabbar a.button { 
  color: #fff;
  background: url("http://i.imgur.com/vdZCQUT.png?3")
   
}
 
.maintabbarbottom {
    background: rgb(146, 109, 34);
    opacity: 1;
   
}
 
/* Close and minimize button */
.closebutton, .minimizebutton {
    color: #fff;
}
 
.closebutton:hover, .minimizebutton:hover {
    color: rgb(216, 205, 205);
}
 
/* Icon user */
.icon-user {
    color: #7AA3CC !important;
}
 
/* Menu */
.menugroup {
   
}
 
.menugroup button.big {
    font-size: 10pt;
}
 
.menugroup .button {
    background: url("http://i.imgur.com/vdZCQUT.png?3");
    border: solid 1px #000;
    color: #fff;
    border-color: hsl(0, 0%, 0%);
    font-size: 8pt;
}
 
.menugroup .button:hover {
        background: url("http://i.imgur.com/mb7edrt.png?1");
}
 
/* Footer links */
.mainmenufooter {
    color: #6b6767;
}
 
.mainmenufooter a {
    text-decoration: none;
    color: #fff;
}
 
.mainmenufooter a:hover {
    text-decoration: none;
    color: #6b6767;
}
 
/* Userlist */
.userlist {
   
    background: rgba(0, 0, 0, .04);
  	border-left: 1px solid #a3a3a3
}
 
.userlist li {
    border-bottom: 1px solid #A3A3A3;
}
 
.userlist li button:hover {
    background: #fafafa;
}
 
.ps-room {
    border: 0;
}
 
.userlist li em.group {
    color: #000;
}
 
/* Chat-log */  
.chat-log {
        background: url("http://i.imgur.com/bcFwA9d.png?2") right top no-repeat;
        #font-size:10pt;
        #overflow:auto
}
 
.chat-log-add {
   
    background: #DEA533;
}
 
/* Announce */
.message-announce {
    background: #ec9900;
    font-style: italic;
}
 
/* Declare Color */
.broadcast-blue {
    background: #ec9900;
    color: #000;
    border: 2px solid #000;
    padding: 5px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 10pt;
}
 
.broadcast-red {
    background: #ec5c4d;
    color: #000;
    border: 2px solid #000;
    padding: 5px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 10pt;
}
 
.broadcast-green {
    background: #559955;
    color: #000;
    border: 2px solid #000;
    padding: 5px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 10pt;
}
 
/* PM Messages */
.pm-window h3 {
    background: url("http://i.imgur.com/vdZCQUT.png?3");
    color: #fff;
    border: 1px solid #404040;
}
 
.pm-window h3:hover {
    color: #212121;
}
 
.pm-log-add {
    border: 1px solid #404040;
        background: url("http://i.imgur.com/vdZCQUT.png?3");
}
 
.pm-window.focused h3, .pm-window.focused h3:hover {
    color: #fff;
    background: url("http://i.imgur.com/mb7edrt.png?1");
    border: 1px solid #000;
}
 
/* Popup */
.ps-popup {
    border: 2px solid #000000;
    background: rgba(225, 192, 122, 1);
}
 
.ps-popup a {
    color: #212121;
    text-decoration: none;
}
 
.ps-popup a:hover {
    color: #fff;
    text-decoration: none;
}
 
/* Battle Background (& Battle window layout)*/
.backdrop {
    background: url("http://i.imgur.com/MhWoAbr.jpg?3") !important;
}
 
.battle-log .chat em{
    font-size:10pt;
  }
 
/* Roomlist */
.roomlist a.ilink {
    border: 0;
    padding: 5px;
    color: #fff;
    background: rgb(88, 88, 88);
}
 
.roomlist a.ilink:hover {
    background: rgb(138, 138, 138);
    border: 0;
    color: #fff;
}
 
}
